<% if user_signed_in? %>
    <div class="container">

      <h1 class="text-center">I'am IN</h1>
     




<% else %>
  <div class="banner" >
    <div class="banner-content">
      <p>save 10%  <%= link_to "sign up", new_user_registration_path, class: "btn btn-default" %></p> 
    </div>
  </div>
<% end %>