<br><br><br>
<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success btn-block">Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info btn-block">Info</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning btn-block">Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger btn-block" onclick=<%= lolo = 60%>>Danger</button>
<br><br><br>
<% lolo = 40%>
<div class="progress">
  <div class="progress-bar progress-bar-success" style="width: <%= lolo%>%">
    <span class="sr-only">35% Complete (success)</span>
  </div>
  <div class="progress-bar progress-bar-warning " style="width: 20%">
    <span class="sr-only">20% Complete (warning)</span>
  </div>
  <div class="progress-bar progress-bar-danger" style="width: 10%">
    <span class="sr-only">10% Complete (danger)</span>
  </div>
</div>